* {box-sizing: border-box;}
body {background-color:rgb(45, 162, 240)}
a:hover{background-color:red !important}
.carousel .carousel-indicators .active {background-color: blue ;height:1em}
.carousel .carousel-indicators {background-color:rgba(0,255,0,0.5)}
p {text-align:justify !important}
@media  screen and  (max-width:992px)
   {h1 {font-size:1.5rem;}
   a:link {color:blue !important}
   .navbar {background-color:lightblue !important; border-bottom:5px solid blue; margin-top:5px; margin-bottom: 5px;}
}